{% extends "layout.html" %}
{% block content %}
  <h1>About Page??</h1>
  <p>placeholder text here for about page</p>
  <p>More placeholder text here, about the thing</p>
  <h3>Mistakes</h3>
  <p>Didn't use Google places API, which is just generally more comprehensive. Google places API was actually the first API that I tried to use, but I couldn't figure out how to get around billing. After that, was choosing between yelp and foursquare; chose 4sq because was originally planning on making this based around picking locations to study, so 4sq would be better bc individual users can add more info about specific halls and whatever on campus. However, generalized to restaurants and coffee adn bars and places to hang out in general, so turns out yelp wouldve been more successful here
  </p>
{% endblock content %}
