{% extends "layout.html" %}
{% block content %}
  <h1>About Page??</h1>
  <h3>Resources</h3>
  <dt>ipdata.co: https://ipdata.co/</dt>
  <dd>Ipdata.co is used to get the location of the user when he or she first visits the webpage. Using ipdata.co, the web app can get information about the user's location like the user's current city or lat/lon coordinates.</dd>
  <dt>Foursquare: https://foursquare.com/</dt>
  <dd>Foursquare is used to query nearby venues. Given search keywords, a search radius, and information about the user's location, the web app uses Foursquare's explore endpoint to get a list of relevant venues.</dd>
  <h3>Mistakes</h3>
  <p>Didn't use Google places API, which is just generally more comprehensive. Google places API was actually the first API that I tried to use, but I couldn't figure out how to get around billing. After that, was choosing between yelp and foursquare; chose 4sq because was originally planning on making this based around picking locations to study, so 4sq would be better bc individual users can add more info about specific halls and whatever on campus. However, generalized to restaurants and coffee adn bars and places to hang out in general, so turns out yelp wouldve been more successful here
  </p>
{% endblock content %}
